USE [master]
GO
/****** Objeto: Database [PlanMejora] Fecha de script: 29/05/2026 11:06:50 ******/
CREATE DATABASE [PlanMejora]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlanMejora_Data', FILENAME = N'c:\dzsqls\PlanMejora.mdf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 LOG ON 
( NAME = N'PlanMejora_Logs', FILENAME = N'c:\dzsqls\PlanMejora.ldf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlanMejora].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlanMejora]
GO
/****** Objeto: User [EPSILON_SQLLogin_1] Fecha de script: 29/05/2026 11:06:53 ******/
CREATE USER [EPSILON_SQLLogin_1] FOR LOGIN [EPSILON_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [EPSILON_SQLLogin_1]
GO
/****** Objeto: Schema [EPSILON_SQLLogin_1] Fecha de script: 29/05/2026 11:06:53 ******/
CREATE SCHEMA [EPSILON_SQLLogin_1]
GO
/****** Objeto: Table [dbo].[administrador] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrador](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[tipoDocumento] [varchar](50) NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NULL,
	[correo] [varchar](50) NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_administrador] PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[aprendiz] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aprendiz](
	[idAprendiz] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[tipoDocumento] [varchar](50) NOT NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[idFicha] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_aprendiz] PRIMARY KEY CLUSTERED 
(
	[idAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[centroFormacion] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centroFormacion](
	[idCentro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_centroFormacion] PRIMARY KEY CLUSTERED 
(
	[idCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[centroPrograma] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centroPrograma](
	[idCentroPrograma] [int] IDENTITY(1,1) NOT NULL,
	[idCentro] [int] NOT NULL,
	[idPrograma] [int] NOT NULL,
 CONSTRAINT [PK_centroPrograma] PRIMARY KEY CLUSTERED 
(
	[idCentroPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[competencias] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competencias](
	[idCompetencias] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[idPrograma] [int] NOT NULL,
 CONSTRAINT [PK_competencias] PRIMARY KEY CLUSTERED 
(
	[idCompetencias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[criteriosEvaluacion] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[criteriosEvaluacion](
	[idCriterio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](max) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_criteriosEvaluacion] PRIMARY KEY CLUSTERED 
(
	[idCriterio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[evaluacionPlan] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluacionPlan](
	[idEvaluacionPlan] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[idCriterio] [int] NOT NULL,
	[valoracion] [varchar](50) NULL,
	[observaciones] [varchar](max) NULL,
 CONSTRAINT [PK_evaluacionPlan] PRIMARY KEY CLUSTERED 
(
	[idEvaluacionPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[evidencias] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evidencias](
	[idEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[nombreArchivo] [varchar](50) NULL,
	[rutaArchivo] [varchar](255) NULL,
	[tipoArchivo] [varchar](50) NULL,
	[fechaSubida] [datetime] NULL,
	[observaciones] [varchar](max) NULL,
	[idPlanMejoramiento] [int] NOT NULL,
 CONSTRAINT [PK_Evidencias] PRIMARY KEY CLUSTERED 
(
	[idEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ficha] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ficha](
	[idFicha] [int] IDENTITY(1,1) NOT NULL,
	[idCentroPrograma] [int] NOT NULL,
	[codigoFicha] [varchar](50) NOT NULL,
	[fechaInicio] [date] NULL,
	[fechaFinalizacion] [date] NULL,
	[jornada] [varchar](50) NULL,
	[nivel] [varchar](50) NULL,
	[duracion] [varchar](50) NULL,
	[estado] [varchar](50) NULL,
 CONSTRAINT [PK_ficha] PRIMARY KEY CLUSTERED 
(
	[idFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[instructor] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructor](
	[idInstructor] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[tipoDocumento] [varchar](50) NOT NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[especialidad] [varchar](50) NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_instructor] PRIMARY KEY CLUSTERED 
(
	[idInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[instructorFicha] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructorFicha](
	[idInstructorFicha] [int] IDENTITY(1,1) NOT NULL,
	[idInstructor] [int] NOT NULL,
	[idFicha] [int] NOT NULL,
 CONSTRAINT [PK_instructorFicha] PRIMARY KEY CLUSTERED 
(
	[idInstructorFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[planMejoramiento] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planMejoramiento](
	[idPlanMejoramiento] [int] IDENTITY(1,1) NOT NULL,
	[idAprendiz] [int] NOT NULL,
	[idInstructor] [int] NOT NULL,
	[TipoPlan] [varchar](50) NULL,
	[actividadesPropuestas] [varchar](max) NULL,
	[observaciones] [varchar](max) NULL,
	[fechaAsignacion] [date] NULL,
	[fechaEntrega] [date] NULL,
	[estadoPlan] [varchar](50) NOT NULL,
 CONSTRAINT [PK_planMejoramiento] PRIMARY KEY CLUSTERED 
(
	[idPlanMejoramiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[planResultado] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planResultado](
	[idPlanResultado] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[idResultado] [int] NOT NULL,
 CONSTRAINT [PK_planResultado] PRIMARY KEY CLUSTERED 
(
	[idPlanResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[programa] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programa](
	[idPrograma] [int] IDENTITY(1,1) NOT NULL,
	[codigoPrograma] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[version] [varchar](50) NULL,
	[nivel] [varchar](50) NULL,
	[duracionHoras] [int] NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_programa] PRIMARY KEY CLUSTERED 
(
	[idPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[resultadosAprendizaje] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resultadosAprendizaje](
	[idResultado] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[estado] [varchar](50) NULL,
	[idCompetencias] [int] NOT NULL,
 CONSTRAINT [PK_resultadosAprendizaje] PRIMARY KEY CLUSTERED 
(
	[idResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[rol] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuarios] Fecha de script: 29/05/2026 11:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[idRol] [int] NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[administrador] ON 

INSERT [dbo].[administrador] ([idAdmin], [nombres], [apellidos], [tipoDocumento], [numeroDocumento], [telefono], [correo], [idUsuario]) VALUES (1, N'Juan', N'esteban', N'CE', N'45542', N'646556', N'juand@gmail.com', 70)
INSERT [dbo].[administrador] ([idAdmin], [nombres], [apellidos], [tipoDocumento], [numeroDocumento], [telefono], [correo], [idUsuario]) VALUES (2, N'martin', N'elias', N'CC', N'854655', N'95555', N'martin@gmail.com', 76)
SET IDENTITY_INSERT [dbo].[administrador] OFF
GO
SET IDENTITY_INSERT [dbo].[aprendiz] ON 

INSERT [dbo].[aprendiz] ([idAprendiz], [nombres], [apellidos], [tipoDocumento], [numeroDocumento], [correo], [telefono], [fechaNacimiento], [estado], [idFicha], [idUsuario]) VALUES (3, N'jhon', N'martin', N'CC', N'4884', N'mart@gmail.com', N'96555', CAST(N'2007-02-13T00:00:00.000' AS DateTime), N'En Formación', 10, 5)
INSERT [dbo].[aprendiz] ([idAprendiz], [nombres], [apellidos], [tipoDocumento], [numeroDocumento], [correo], [telefono], [fechaNacimiento], [estado], [idFicha], [idUsuario]) VALUES (4, N'Carlos Andrés', N'Pérez Gómez', N'CC', N'1023456781', N'carlos.perez@example.com', N'3001112233', CAST(N'1995-03-12T00:00:00.000' AS DateTime), N'En Formación', 11, 6)
INSERT [dbo].[aprendiz] ([idAprendiz], [nombres], [apellidos], [tipoDocumento], [numeroDocumento], [correo], [telefono], [fechaNacimiento], [estado], [idFicha], [idUsuario]) VALUES (5, N'María Fernanda', N'López Díaz', N'CC', N'1034567892', N'maria.lopez@example.com', N'3102223344', CAST(N'1998-07-25T00:00:00.000' AS DateTime), N'En Formación', 11, 7)
SET IDENTITY_INSERT [dbo].[aprendiz] OFF
GO
SET IDENTITY_INSERT [dbo].[centroFormacion] ON 

INSERT [dbo].[centroFormacion] ([idCentro], [nombre], [direccion], [telefono], [estado]) VALUES (2, N'CIMM', N'Carrera 12, 55A51, Sogamoso, Boyaca', N'3258469', 1)
INSERT [dbo].[centroFormacion] ([idCentro], [nombre], [direccion], [telefono], [estado]) VALUES (25, N'Cedeagro', N'Cra. 57 #51-83, La Candelaria, Medellín, Antioquia', N'321554', 1)
INSERT [dbo].[centroFormacion] ([idCentro], [nombre], [direccion], [telefono], [estado]) VALUES (26, N'paipa', N'#104, Complejo Norte Carrera 68, Medellín', N'3258469514', 1)
SET IDENTITY_INSERT [dbo].[centroFormacion] OFF
GO
SET IDENTITY_INSERT [dbo].[centroPrograma] ON 

INSERT [dbo].[centroPrograma] ([idCentroPrograma], [idCentro], [idPrograma]) VALUES (1, 2, 2)
INSERT [dbo].[centroPrograma] ([idCentroPrograma], [idCentro], [idPrograma]) VALUES (4, 25, 2)
INSERT [dbo].[centroPrograma] ([idCentroPrograma], [idCentro], [idPrograma]) VALUES (8, 26, 1)
SET IDENTITY_INSERT [dbo].[centroPrograma] OFF
GO
SET IDENTITY_INSERT [dbo].[competencias] ON 

INSERT [dbo].[competencias] ([idCompetencias], [nombre], [descripcion], [idPrograma]) VALUES (1, N'Desarrollar software', N'Capacidad para construir aplicaciones usando lenguajes de programación', 4)
INSERT [dbo].[competencias] ([idCompetencias], [nombre], [descripcion], [idPrograma]) VALUES (2, N'Gestionar base de datos', N'Diseñar y administrar bases de datos relacionales', 4)
INSERT [dbo].[competencias] ([idCompetencias], [nombre], [descripcion], [idPrograma]) VALUES (3, N'quimica', N'formulas', 2)
SET IDENTITY_INSERT [dbo].[competencias] OFF
GO
SET IDENTITY_INSERT [dbo].[criteriosEvaluacion] ON 

INSERT [dbo].[criteriosEvaluacion] ([idCriterio], [nombre], [descripcion], [estado]) VALUES (1, N'Producto', N'Evaluación de la evidencia entregada', 1)
INSERT [dbo].[criteriosEvaluacion] ([idCriterio], [nombre], [descripcion], [estado]) VALUES (2, N'Conocimiento', N'Sustentación o explicación del trabajo realizado', 1)
INSERT [dbo].[criteriosEvaluacion] ([idCriterio], [nombre], [descripcion], [estado]) VALUES (3, N'Desempeño', N'Capacidad para realizar mejoras o nuevas funcionalidades', 1)
SET IDENTITY_INSERT [dbo].[criteriosEvaluacion] OFF
GO
SET IDENTITY_INSERT [dbo].[evaluacionPlan] ON 

INSERT [dbo].[evaluacionPlan] ([idEvaluacionPlan], [idPlanMejoramiento], [idCriterio], [valoracion], [observaciones]) VALUES (1, 1, 1, N'No Aprueba', N'uiui')
INSERT [dbo].[evaluacionPlan] ([idEvaluacionPlan], [idPlanMejoramiento], [idCriterio], [valoracion], [observaciones]) VALUES (2, 1, 2, N'Aprueba', N'uiui')
INSERT [dbo].[evaluacionPlan] ([idEvaluacionPlan], [idPlanMejoramiento], [idCriterio], [valoracion], [observaciones]) VALUES (3, 1, 3, N'Aprueba', N'uiui')
SET IDENTITY_INSERT [dbo].[evaluacionPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[evidencias] ON 

INSERT [dbo].[evidencias] ([idEvidencia], [nombreArchivo], [rutaArchivo], [tipoArchivo], [fechaSubida], [observaciones], [idPlanMejoramiento]) VALUES (1, N'TallerPlanMejoramiento.docx', N'~/evidencias/1d6ebee5-4c7d-4110-9737-353c2e9958e1.docx', N'.docx', CAST(N'2026-05-26T10:46:36.127' AS DateTime), N'', 3)
INSERT [dbo].[evidencias] ([idEvidencia], [nombreArchivo], [rutaArchivo], [tipoArchivo], [fechaSubida], [observaciones], [idPlanMejoramiento]) VALUES (2, N'PATRONES DE DISEÑO.docx', N'~/evidencias/ae2361d5-d9dc-423b-b700-06fcf638e7b2.docx', N'.docx', CAST(N'2026-05-27T07:05:52.073' AS DateTime), N'', 5)
INSERT [dbo].[evidencias] ([idEvidencia], [nombreArchivo], [rutaArchivo], [tipoArchivo], [fechaSubida], [observaciones], [idPlanMejoramiento]) VALUES (3, N'linea de tiempo.pdf', N'~/evidencias/7c414e01-44ea-425e-9b32-34192d1bfbf5.pdf', N'.pdf', CAST(N'2026-05-29T07:43:31.580' AS DateTime), N'evidencia 1', 7)
SET IDENTITY_INSERT [dbo].[evidencias] OFF
GO
SET IDENTITY_INSERT [dbo].[ficha] ON 

INSERT [dbo].[ficha] ([idFicha], [idCentroPrograma], [codigoFicha], [fechaInicio], [fechaFinalizacion], [jornada], [nivel], [duracion], [estado]) VALUES (10, 1, N'2561845', CAST(N'2026-05-27' AS Date), CAST(N'2027-06-29' AS Date), N'Mañana', N'Tecnólogo', N'3651', N'Activa')
INSERT [dbo].[ficha] ([idFicha], [idCentroPrograma], [codigoFicha], [fechaInicio], [fechaFinalizacion], [jornada], [nivel], [duracion], [estado]) VALUES (11, 2, N'845645', CAST(N'2026-05-27' AS Date), CAST(N'2027-06-29' AS Date), N'Tarde', N'Técnico', N'3651', N'Activa')
INSERT [dbo].[ficha] ([idFicha], [idCentroPrograma], [codigoFicha], [fechaInicio], [fechaFinalizacion], [jornada], [nivel], [duracion], [estado]) VALUES (12, 5, N'FICHA-2025-001', CAST(N'2025-01-15' AS Date), CAST(N'2025-12-15' AS Date), N'Mañana', N'Tecnólogo', N'24 meses', N'Activa')
SET IDENTITY_INSERT [dbo].[ficha] OFF
GO
SET IDENTITY_INSERT [dbo].[instructor] ON 

INSERT [dbo].[instructor] ([idInstructor], [nombres], [apellidos], [tipoDocumento], [numeroDocumento], [correo], [telefono], [especialidad], [idUsuario]) VALUES (1, N'Miguel Rincon', N'Arcangel', N'CE', N'15424', N'migeArch12@gmail.com', N'3154258749', N'Ingles', 2)
INSERT [dbo].[instructor] ([idInstructor], [nombres], [apellidos], [tipoDocumento], [numeroDocumento], [correo], [telefono], [especialidad], [idUsuario]) VALUES (3, N'juan', N'manuel', N'CC', N'89999', N'juanmanu@gmail.com', N'3254158974', N'Matematicas', 2)
INSERT [dbo].[instructor] ([idInstructor], [nombres], [apellidos], [tipoDocumento], [numeroDocumento], [correo], [telefono], [especialidad], [idUsuario]) VALUES (4, N'Andres', N'esteban', N'CC', N'1502856954', N'andreseste@gmail.com', N'3265145785', N'Ingles', 4)
SET IDENTITY_INSERT [dbo].[instructor] OFF
GO
SET IDENTITY_INSERT [dbo].[instructorFicha] ON 

INSERT [dbo].[instructorFicha] ([idInstructorFicha], [idInstructor], [idFicha]) VALUES (12, 1, 11)
INSERT [dbo].[instructorFicha] ([idInstructorFicha], [idInstructor], [idFicha]) VALUES (13, 1, 12)
INSERT [dbo].[instructorFicha] ([idInstructorFicha], [idInstructor], [idFicha]) VALUES (1, 4, 10)
SET IDENTITY_INSERT [dbo].[instructorFicha] OFF
GO
SET IDENTITY_INSERT [dbo].[planMejoramiento] ON 

INSERT [dbo].[planMejoramiento] ([idPlanMejoramiento], [idAprendiz], [idInstructor], [TipoPlan], [actividadesPropuestas], [observaciones], [fechaAsignacion], [fechaEntrega], [estadoPlan]) VALUES (1, 52, 7, N'Interno', N'jhj', N'jhjh', CAST(N'2026-05-26' AS Date), CAST(N'2026-06-03' AS Date), N'No Aprobado')
INSERT [dbo].[planMejoramiento] ([idPlanMejoramiento], [idAprendiz], [idInstructor], [TipoPlan], [actividadesPropuestas], [observaciones], [fechaAsignacion], [fechaEntrega], [estadoPlan]) VALUES (2, 52, 7, N'Comité', N'jhj', N'jhjh', CAST(N'2026-05-26' AS Date), CAST(N'2026-06-10' AS Date), N'No Aprobado')
INSERT [dbo].[planMejoramiento] ([idPlanMejoramiento], [idAprendiz], [idInstructor], [TipoPlan], [actividadesPropuestas], [observaciones], [fechaAsignacion], [fechaEntrega], [estadoPlan]) VALUES (3, 59, 7, N'Interno', N'2', N'2', CAST(N'2026-05-26' AS Date), CAST(N'2026-06-09' AS Date), N'Aprobado')
SET IDENTITY_INSERT [dbo].[planMejoramiento] OFF
GO
SET IDENTITY_INSERT [dbo].[planResultado] ON 

INSERT [dbo].[planResultado] ([idPlanResultado], [idPlanMejoramiento], [idResultado]) VALUES (1, 1, 1)
INSERT [dbo].[planResultado] ([idPlanResultado], [idPlanMejoramiento], [idResultado]) VALUES (2, 2, 1)
INSERT [dbo].[planResultado] ([idPlanResultado], [idPlanMejoramiento], [idResultado]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[planResultado] OFF
GO
SET IDENTITY_INSERT [dbo].[programa] ON 

INSERT [dbo].[programa] ([idPrograma], [codigoPrograma], [nombre], [descripcion], [version], [nivel], [duracionHoras], [estado]) VALUES (1, N'154698', N'ADSO', NULL, NULL, N'Tecnólogo', 2546, 1)
INSERT [dbo].[programa] ([idPrograma], [codigoPrograma], [nombre], [descripcion], [version], [nivel], [duracionHoras], [estado]) VALUES (2, N'254468', N'ciderurgia', NULL, NULL, N'Técnico', 700, 1)
INSERT [dbo].[programa] ([idPrograma], [codigoPrograma], [nombre], [descripcion], [version], [nivel], [duracionHoras], [estado]) VALUES (3, N'854955', N'diseño', NULL, NULL, N'Especialización', 600, 0)
SET IDENTITY_INSERT [dbo].[programa] OFF
GO
SET IDENTITY_INSERT [dbo].[resultadosAprendizaje] ON 

INSERT [dbo].[resultadosAprendizaje] ([idResultado], [codigo], [descripcion], [estado], [idCompetencias]) VALUES (1, N'RA-01', N'Construir aplicaciones web básicas usando HTML, CSS y JavaScript', N'Activo', 1)
INSERT [dbo].[resultadosAprendizaje] ([idResultado], [codigo], [descripcion], [estado], [idCompetencias]) VALUES (2, N'RA-02', N'Implementar lógica de negocio con lenguajes orientados a objetos (C#)', N'Activo', 1)
INSERT [dbo].[resultadosAprendizaje] ([idResultado], [codigo], [descripcion], [estado], [idCompetencias]) VALUES (3, N'RA-03', N'Diseñar modelos entidad-relación y normalizar bases de datos', N'Activo', 2)
SET IDENTITY_INSERT [dbo].[resultadosAprendizaje] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([idRol], [nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[rol] ([idRol], [nombre]) VALUES (3, N'Aprendiz')
INSERT [dbo].[rol] ([idRol], [nombre]) VALUES (2, N'Instructor')
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([idUsuario], [username], [password], [idRol]) VALUES (2, N'instruc', N'123', 2)
INSERT [dbo].[usuarios] ([idUsuario], [username], [password], [idRol]) VALUES (3, N'aprendi', N'123', 3)
INSERT [dbo].[usuarios] ([idUsuario], [username], [password], [idRol]) VALUES (4, N'andesesteban', N'123', 2)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_admin_correo] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[administrador] ADD  CONSTRAINT [UQ_admin_correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_admin_idUsuario] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[administrador] ADD  CONSTRAINT [UQ_admin_idUsuario] UNIQUE NONCLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_admin_numeroDocumento] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[administrador] ADD  CONSTRAINT [UQ_admin_numeroDocumento] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_correoAprendiz] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[aprendiz] ADD  CONSTRAINT [UQ_correoAprendiz] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_numeroDocumento] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[aprendiz] ADD  CONSTRAINT [UQ_numeroDocumento] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_direccion_Centro] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[centroFormacion] ADD  CONSTRAINT [UQ_direccion_Centro] UNIQUE NONCLUSTERED 
(
	[direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_nombreCentro] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[centroFormacion] ADD  CONSTRAINT [UQ_nombreCentro] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_centroPrograma] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[centroPrograma] ADD  CONSTRAINT [UQ_centroPrograma] UNIQUE NONCLUSTERED 
(
	[idCentro] ASC,
	[idPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_ficha] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[ficha] ADD  CONSTRAINT [UQ_ficha] UNIQUE NONCLUSTERED 
(
	[codigoFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_CorreoInstructor] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[instructor] ADD  CONSTRAINT [UQ_CorreoInstructor] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_numeroDocumento_instructor] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[instructor] ADD  CONSTRAINT [UQ_numeroDocumento_instructor] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_instructorFicha] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[instructorFicha] ADD  CONSTRAINT [UQ_instructorFicha] UNIQUE NONCLUSTERED 
(
	[idInstructor] ASC,
	[idFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_codigoPrograma] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[programa] ADD  CONSTRAINT [UQ_codigoPrograma] UNIQUE NONCLUSTERED 
(
	[codigoPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_nombreRol] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[rol] ADD  CONSTRAINT [UQ_nombreRol] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Username] Fecha de script: 29/05/2026 11:07:10 ******/
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [UQ_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[administrador]  WITH CHECK ADD  CONSTRAINT [FK_administrador_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[administrador] CHECK CONSTRAINT [FK_administrador_usuarios]
GO
ALTER TABLE [dbo].[aprendiz]  WITH CHECK ADD  CONSTRAINT [FK_aprendiz_ficha1] FOREIGN KEY([idFicha])
REFERENCES [dbo].[ficha] ([idFicha])
GO
ALTER TABLE [dbo].[aprendiz] CHECK CONSTRAINT [FK_aprendiz_ficha1]
GO
ALTER TABLE [dbo].[aprendiz]  WITH CHECK ADD  CONSTRAINT [FK_aprendiz_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[aprendiz] CHECK CONSTRAINT [FK_aprendiz_usuarios]
GO
ALTER TABLE [dbo].[centroPrograma]  WITH CHECK ADD  CONSTRAINT [FK_centroPrograma_centroFormacion] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centroFormacion] ([idCentro])
GO
ALTER TABLE [dbo].[centroPrograma] CHECK CONSTRAINT [FK_centroPrograma_centroFormacion]
GO
ALTER TABLE [dbo].[centroPrograma]  WITH CHECK ADD  CONSTRAINT [FK_centroPrograma_programa] FOREIGN KEY([idPrograma])
REFERENCES [dbo].[programa] ([idPrograma])
GO
ALTER TABLE [dbo].[centroPrograma] CHECK CONSTRAINT [FK_centroPrograma_programa]
GO
ALTER TABLE [dbo].[competencias]  WITH CHECK ADD  CONSTRAINT [FK_competencias_programa] FOREIGN KEY([idPrograma])
REFERENCES [dbo].[programa] ([idPrograma])
GO
ALTER TABLE [dbo].[competencias] CHECK CONSTRAINT [FK_competencias_programa]
GO
ALTER TABLE [dbo].[evaluacionPlan]  WITH CHECK ADD  CONSTRAINT [FK_evaluacionPlan_criteriosEvaluacion] FOREIGN KEY([idCriterio])
REFERENCES [dbo].[criteriosEvaluacion] ([idCriterio])
GO
ALTER TABLE [dbo].[evaluacionPlan] CHECK CONSTRAINT [FK_evaluacionPlan_criteriosEvaluacion]
GO
ALTER TABLE [dbo].[evaluacionPlan]  WITH CHECK ADD  CONSTRAINT [FK_evaluacionPlan_planMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planMejoramiento] ([idPlanMejoramiento])
GO
ALTER TABLE [dbo].[evaluacionPlan] CHECK CONSTRAINT [FK_evaluacionPlan_planMejoramiento]
GO
ALTER TABLE [dbo].[evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Evidencias_planMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planMejoramiento] ([idPlanMejoramiento])
GO
ALTER TABLE [dbo].[evidencias] CHECK CONSTRAINT [FK_Evidencias_planMejoramiento]
GO
ALTER TABLE [dbo].[ficha]  WITH CHECK ADD  CONSTRAINT [FK_ficha_centroPrograma] FOREIGN KEY([idCentroPrograma])
REFERENCES [dbo].[centroPrograma] ([idCentroPrograma])
GO
ALTER TABLE [dbo].[ficha] CHECK CONSTRAINT [FK_ficha_centroPrograma]
GO
ALTER TABLE [dbo].[instructor]  WITH CHECK ADD  CONSTRAINT [FK_instructor_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[instructor] CHECK CONSTRAINT [FK_instructor_usuarios]
GO
ALTER TABLE [dbo].[instructorFicha]  WITH CHECK ADD  CONSTRAINT [FK_instructorFicha_ficha] FOREIGN KEY([idFicha])
REFERENCES [dbo].[ficha] ([idFicha])
GO
ALTER TABLE [dbo].[instructorFicha] CHECK CONSTRAINT [FK_instructorFicha_ficha]
GO
ALTER TABLE [dbo].[instructorFicha]  WITH CHECK ADD  CONSTRAINT [FK_instructorFicha_instructor] FOREIGN KEY([idInstructor])
REFERENCES [dbo].[instructor] ([idInstructor])
GO
ALTER TABLE [dbo].[instructorFicha] CHECK CONSTRAINT [FK_instructorFicha_instructor]
GO
ALTER TABLE [dbo].[planMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_planMejoramiento_aprendiz] FOREIGN KEY([idAprendiz])
REFERENCES [dbo].[aprendiz] ([idAprendiz])
GO
ALTER TABLE [dbo].[planMejoramiento] CHECK CONSTRAINT [FK_planMejoramiento_aprendiz]
GO
ALTER TABLE [dbo].[planMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_planMejoramiento_instructor] FOREIGN KEY([idInstructor])
REFERENCES [dbo].[instructor] ([idInstructor])
GO
ALTER TABLE [dbo].[planMejoramiento] CHECK CONSTRAINT [FK_planMejoramiento_instructor]
GO
ALTER TABLE [dbo].[planResultado]  WITH CHECK ADD  CONSTRAINT [FK_planResultado_planMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planMejoramiento] ([idPlanMejoramiento])
GO
ALTER TABLE [dbo].[planResultado] CHECK CONSTRAINT [FK_planResultado_planMejoramiento]
GO
ALTER TABLE [dbo].[planResultado]  WITH CHECK ADD  CONSTRAINT [FK_planResultado_resultadosAprendizaje] FOREIGN KEY([idResultado])
REFERENCES [dbo].[resultadosAprendizaje] ([idResultado])
GO
ALTER TABLE [dbo].[planResultado] CHECK CONSTRAINT [FK_planResultado_resultadosAprendizaje]
GO
ALTER TABLE [dbo].[resultadosAprendizaje]  WITH CHECK ADD  CONSTRAINT [FK_resultadosAprendizaje_competencias] FOREIGN KEY([idCompetencias])
REFERENCES [dbo].[competencias] ([idCompetencias])
GO
ALTER TABLE [dbo].[resultadosAprendizaje] CHECK CONSTRAINT [FK_resultadosAprendizaje_competencias]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([idRol])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_rol]
GO
USE [master]
GO
