USE [master]
GO
/****** Objeto: Database [PlanMejora] Fecha de script: 11/06/2026 7:02:00 ******/
CREATE DATABASE [PlanMejora]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlanMejora_Data', FILENAME = N'c:\dzsqls\PlanMejora.mdf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 LOG ON 
( NAME = N'PlanMejora_Logs', FILENAME = N'c:\dzsqls\PlanMejora.ldf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlanMejora].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlanMejora]
GO
/****** Objeto: User [EPSILON_SQLLogin_1] Fecha de script: 11/06/2026 7:02:02 ******/
CREATE USER [EPSILON_SQLLogin_1] FOR LOGIN [EPSILON_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [EPSILON_SQLLogin_1]
GO
/****** Objeto: Schema [EPSILON_SQLLogin_1] Fecha de script: 11/06/2026 7:02:03 ******/
CREATE SCHEMA [EPSILON_SQLLogin_1]
GO
/****** Objeto: Table [dbo].[administrador] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrador](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[tipoDocumento] [varchar](50) NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NULL,
	[correo] [varchar](50) NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_administrador] PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_admin_correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_admin_idUsuario] UNIQUE NONCLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_admin_numeroDocumento] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[aprendiz] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aprendiz](
	[idAprendiz] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[tipoDocumento] [varchar](50) NOT NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[idFicha] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_aprendiz] PRIMARY KEY CLUSTERED 
(
	[idAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_correoAprendiz] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_numeroDocumento] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[centroFormacion] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centroFormacion](
	[idCentro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_centroFormacion] PRIMARY KEY CLUSTERED 
(
	[idCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_direccion_Centro] UNIQUE NONCLUSTERED 
(
	[direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_nombreCentro] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[centroPrograma] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centroPrograma](
	[idCentroPrograma] [int] IDENTITY(1,1) NOT NULL,
	[idCentro] [int] NOT NULL,
	[idPrograma] [int] NOT NULL,
 CONSTRAINT [PK_centroPrograma] PRIMARY KEY CLUSTERED 
(
	[idCentroPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_centroPrograma] UNIQUE NONCLUSTERED 
(
	[idCentro] ASC,
	[idPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[competencias] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competencias](
	[idCompetencias] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[idPrograma] [int] NOT NULL,
 CONSTRAINT [PK_competencias] PRIMARY KEY CLUSTERED 
(
	[idCompetencias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[criteriosEvaluacion] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[criteriosEvaluacion](
	[idCriterio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](max) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_criteriosEvaluacion] PRIMARY KEY CLUSTERED 
(
	[idCriterio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[evaluacionPlan] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluacionPlan](
	[idEvaluacionPlan] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[idCriterio] [int] NOT NULL,
	[valoracion] [varchar](50) NULL,
	[observaciones] [varchar](max) NULL,
 CONSTRAINT [PK_evaluacionPlan] PRIMARY KEY CLUSTERED 
(
	[idEvaluacionPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[evidencias] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evidencias](
	[idEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[nombreArchivo] [varchar](50) NULL,
	[rutaArchivo] [varchar](255) NULL,
	[tipoArchivo] [varchar](50) NULL,
	[fechaSubida] [datetime] NULL,
	[observaciones] [varchar](max) NULL,
	[idPlanMejoramiento] [int] NOT NULL,
 CONSTRAINT [PK_Evidencias] PRIMARY KEY CLUSTERED 
(
	[idEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ficha] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ficha](
	[idFicha] [int] IDENTITY(1,1) NOT NULL,
	[idCentroPrograma] [int] NOT NULL,
	[codigoFicha] [varchar](50) NOT NULL,
	[fechaInicio] [date] NULL,
	[fechaFinalizacion] [date] NULL,
	[jornada] [varchar](50) NULL,
	[nivel] [varchar](50) NULL,
	[duracion] [varchar](50) NULL,
	[estado] [varchar](50) NULL,
 CONSTRAINT [PK_ficha] PRIMARY KEY CLUSTERED 
(
	[idFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ficha] UNIQUE NONCLUSTERED 
(
	[codigoFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[instructor] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructor](
	[idInstructor] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[tipoDocumento] [varchar](50) NOT NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[especialidad] [varchar](50) NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_instructor] PRIMARY KEY CLUSTERED 
(
	[idInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CorreoInstructor] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_numeroDocumento_instructor] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[instructorFicha] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructorFicha](
	[idInstructorFicha] [int] IDENTITY(1,1) NOT NULL,
	[idInstructor] [int] NOT NULL,
	[idFicha] [int] NOT NULL,
 CONSTRAINT [PK_instructorFicha] PRIMARY KEY CLUSTERED 
(
	[idInstructorFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_instructorFicha] UNIQUE NONCLUSTERED 
(
	[idInstructor] ASC,
	[idFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[passwordReset] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passwordReset](
	[idCodigo] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[expiracionDate] [datetime] NOT NULL,
	[usado] [bit] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_passwordReset] PRIMARY KEY CLUSTERED 
(
	[idCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[planMejoramiento] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planMejoramiento](
	[idPlanMejoramiento] [int] IDENTITY(1,1) NOT NULL,
	[idAprendiz] [int] NOT NULL,
	[idInstructor] [int] NOT NULL,
	[TipoPlan] [varchar](50) NULL,
	[actividadesPropuestas] [varchar](max) NULL,
	[observaciones] [varchar](max) NULL,
	[fechaAsignacion] [date] NULL,
	[fechaEntrega] [date] NULL,
	[estadoPlan] [varchar](50) NOT NULL,
 CONSTRAINT [PK_planMejoramiento] PRIMARY KEY CLUSTERED 
(
	[idPlanMejoramiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[planResultado] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planResultado](
	[idPlanResultado] [int] IDENTITY(1,1) NOT NULL,
	[idPlanMejoramiento] [int] NOT NULL,
	[idResultado] [int] NOT NULL,
 CONSTRAINT [PK_planResultado] PRIMARY KEY CLUSTERED 
(
	[idPlanResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[programa] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programa](
	[idPrograma] [int] IDENTITY(1,1) NOT NULL,
	[codigoPrograma] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[version] [varchar](50) NULL,
	[nivel] [varchar](50) NULL,
	[duracionHoras] [int] NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_programa] PRIMARY KEY CLUSTERED 
(
	[idPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_codigoPrograma] UNIQUE NONCLUSTERED 
(
	[codigoPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[resultadosAprendizaje] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resultadosAprendizaje](
	[idResultado] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[estado] [varchar](50) NULL,
	[idCompetencias] [int] NOT NULL,
 CONSTRAINT [PK_resultadosAprendizaje] PRIMARY KEY CLUSTERED 
(
	[idResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[rol] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_nombreRol] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuarios] Fecha de script: 11/06/2026 7:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[idRol] [int] NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[administrador]  WITH CHECK ADD  CONSTRAINT [FK_administrador_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[administrador] CHECK CONSTRAINT [FK_administrador_usuarios]
GO
ALTER TABLE [dbo].[aprendiz]  WITH CHECK ADD  CONSTRAINT [FK_aprendiz_ficha1] FOREIGN KEY([idFicha])
REFERENCES [dbo].[ficha] ([idFicha])
GO
ALTER TABLE [dbo].[aprendiz] CHECK CONSTRAINT [FK_aprendiz_ficha1]
GO
ALTER TABLE [dbo].[aprendiz]  WITH CHECK ADD  CONSTRAINT [FK_aprendiz_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[aprendiz] CHECK CONSTRAINT [FK_aprendiz_usuarios]
GO
ALTER TABLE [dbo].[centroPrograma]  WITH CHECK ADD  CONSTRAINT [FK_centroPrograma_centroFormacion] FOREIGN KEY([idCentro])
REFERENCES [dbo].[centroFormacion] ([idCentro])
GO
ALTER TABLE [dbo].[centroPrograma] CHECK CONSTRAINT [FK_centroPrograma_centroFormacion]
GO
ALTER TABLE [dbo].[centroPrograma]  WITH CHECK ADD  CONSTRAINT [FK_centroPrograma_programa] FOREIGN KEY([idPrograma])
REFERENCES [dbo].[programa] ([idPrograma])
GO
ALTER TABLE [dbo].[centroPrograma] CHECK CONSTRAINT [FK_centroPrograma_programa]
GO
ALTER TABLE [dbo].[competencias]  WITH CHECK ADD  CONSTRAINT [FK_competencias_programa] FOREIGN KEY([idPrograma])
REFERENCES [dbo].[programa] ([idPrograma])
GO
ALTER TABLE [dbo].[competencias] CHECK CONSTRAINT [FK_competencias_programa]
GO
ALTER TABLE [dbo].[evaluacionPlan]  WITH CHECK ADD  CONSTRAINT [FK_evaluacionPlan_criteriosEvaluacion] FOREIGN KEY([idCriterio])
REFERENCES [dbo].[criteriosEvaluacion] ([idCriterio])
GO
ALTER TABLE [dbo].[evaluacionPlan] CHECK CONSTRAINT [FK_evaluacionPlan_criteriosEvaluacion]
GO
ALTER TABLE [dbo].[evaluacionPlan]  WITH CHECK ADD  CONSTRAINT [FK_evaluacionPlan_planMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planMejoramiento] ([idPlanMejoramiento])
GO
ALTER TABLE [dbo].[evaluacionPlan] CHECK CONSTRAINT [FK_evaluacionPlan_planMejoramiento]
GO
ALTER TABLE [dbo].[evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Evidencias_planMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planMejoramiento] ([idPlanMejoramiento])
GO
ALTER TABLE [dbo].[evidencias] CHECK CONSTRAINT [FK_Evidencias_planMejoramiento]
GO
ALTER TABLE [dbo].[ficha]  WITH CHECK ADD  CONSTRAINT [FK_ficha_centroPrograma] FOREIGN KEY([idCentroPrograma])
REFERENCES [dbo].[centroPrograma] ([idCentroPrograma])
GO
ALTER TABLE [dbo].[ficha] CHECK CONSTRAINT [FK_ficha_centroPrograma]
GO
ALTER TABLE [dbo].[instructor]  WITH CHECK ADD  CONSTRAINT [FK_instructor_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[instructor] CHECK CONSTRAINT [FK_instructor_usuarios]
GO
ALTER TABLE [dbo].[instructorFicha]  WITH CHECK ADD  CONSTRAINT [FK_instructorFicha_ficha] FOREIGN KEY([idFicha])
REFERENCES [dbo].[ficha] ([idFicha])
GO
ALTER TABLE [dbo].[instructorFicha] CHECK CONSTRAINT [FK_instructorFicha_ficha]
GO
ALTER TABLE [dbo].[instructorFicha]  WITH CHECK ADD  CONSTRAINT [FK_instructorFicha_instructor] FOREIGN KEY([idInstructor])
REFERENCES [dbo].[instructor] ([idInstructor])
GO
ALTER TABLE [dbo].[instructorFicha] CHECK CONSTRAINT [FK_instructorFicha_instructor]
GO
ALTER TABLE [dbo].[passwordReset]  WITH CHECK ADD  CONSTRAINT [FK_passwordReset_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[passwordReset] CHECK CONSTRAINT [FK_passwordReset_usuarios]
GO
ALTER TABLE [dbo].[planMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_planMejoramiento_aprendiz] FOREIGN KEY([idAprendiz])
REFERENCES [dbo].[aprendiz] ([idAprendiz])
GO
ALTER TABLE [dbo].[planMejoramiento] CHECK CONSTRAINT [FK_planMejoramiento_aprendiz]
GO
ALTER TABLE [dbo].[planMejoramiento]  WITH CHECK ADD  CONSTRAINT [FK_planMejoramiento_instructor] FOREIGN KEY([idInstructor])
REFERENCES [dbo].[instructor] ([idInstructor])
GO
ALTER TABLE [dbo].[planMejoramiento] CHECK CONSTRAINT [FK_planMejoramiento_instructor]
GO
ALTER TABLE [dbo].[planResultado]  WITH CHECK ADD  CONSTRAINT [FK_planResultado_planMejoramiento] FOREIGN KEY([idPlanMejoramiento])
REFERENCES [dbo].[planMejoramiento] ([idPlanMejoramiento])
GO
ALTER TABLE [dbo].[planResultado] CHECK CONSTRAINT [FK_planResultado_planMejoramiento]
GO
ALTER TABLE [dbo].[planResultado]  WITH CHECK ADD  CONSTRAINT [FK_planResultado_resultadosAprendizaje] FOREIGN KEY([idResultado])
REFERENCES [dbo].[resultadosAprendizaje] ([idResultado])
GO
ALTER TABLE [dbo].[planResultado] CHECK CONSTRAINT [FK_planResultado_resultadosAprendizaje]
GO
ALTER TABLE [dbo].[resultadosAprendizaje]  WITH CHECK ADD  CONSTRAINT [FK_resultadosAprendizaje_competencias] FOREIGN KEY([idCompetencias])
REFERENCES [dbo].[competencias] ([idCompetencias])
GO
ALTER TABLE [dbo].[resultadosAprendizaje] CHECK CONSTRAINT [FK_resultadosAprendizaje_competencias]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([idRol])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_rol]
GO
USE [master]
GO
